/* TODO: Rewrite this using flexbox, remove .u-cf */

.Menu {
}

.Menu-list {
  display: flex;
  border-bottom: 1px solid var(--color-light-gray);
  list-style-type: none;
}

.Menu-item {
  border-right: 1px solid var(--color-light-gray);
  flex-grow: 1;

  &:last-child {
    border-right: 0;
  }
}

.Menu-item--main .Menu-link {
  font-weight: bold;
}

.Menu-link {
  display: block;
  padding: 10px;
  background-color: #f4f6f6;
  text-align: center;

  &:hover {
    background-color: #fff;
  }
}

@media print {
  .Menu {
    display: none;
  }
}
