// Container
.Container
  margin-right: auto
  margin-left: auto
  padding: 0 30px
  // padding-right: 15px Bootstrap 3.2.0 original
  // padding-left: 15px Bootstrap 3.2.0 original

@media (min-width: 768px)
  .Container
    width: 750px
