@import "../base/vars.sss"

.Header
  margin-bottom: 30px
  padding: 50px 0
  border-bottom: 1px solid var(--color-light-gray)
  background-color: #f4f6f6
  text-align: center

.Header-name
  font-weight: bold

.Header-label
  margin-bottom: 0
  color: #95a5a6
  font-size: 24px

@media (--sm-viewport-max)
  .Header
    margin-bottom: 10px
    padding: 40px 0
