@import "base.sss"

#content h3
  margin-top: -4px
  color: var(--color-yellow)
  font-size: 26px

#content aside
  padding-right: 30px
  text-align: right

@media (max-width: 768px)
  #content aside
    margin-bottom: 20px
    padding-right: 0
    text-align: left
