@import "base.sss"

#header
  margin-bottom: 30px
  padding: 50px 0
  border-bottom: 1px solid var(--color-light-gray)
  background-color: #f4f6f6

#header h2
  color: #95a5a6
  font-size: 24px

@media (max-width: 480px)
  #header
    margin-bottom: 10px
    padding: 40px 0
