html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 0 80px;
  background-color: #fff;
  color: var(--color-dark-gray);
  font-size: 16px;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

a {
  color: var(--color-blue);
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--color-dark-gray);
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 26px;
  font-weight: 500;

  @media (--sm-viewport-min) {
    font-size: 36px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #777;
  cursor: help;
}
