#profiles .network {
  text-transform: capitalize;
}

#work .position,
#volunteer .position {
  margin-bottom: 8px;
  font-weight: bold;
}

#education .area {
  font-weight: bold;
}

#education .studyType {
  font-style: italic;
}

#awards .summary,
#publications .summary {
  margin-top: 8px;
}

#publications .website a::before {
  content: attr(href);

  @media (--md-viewport-max) {
    content: "View publication";
  }
}

@media (--sm-viewport-max) {
  #actions {
    display: none;
  }
}
