.u-cf::before,
.u-cf::after {
  display: table;
  content: " ";
}

.u-cf::after {
  clear: both;
}

.u-textBold {
  font-weight: bold;
}

.u-bulletedList {
  list-style-type: disc;
  padding-left: 30px;

  & li {
    margin-bottom: 10px;

    &::marker {
      color: var(--color-blue);
    }
  }
}

.u-sideBySide {
  @media (--sm-viewport-min) {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-mb30 {
  margin-bottom: 30px;
}
